/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [quiz]    Script Date: 12/4/2017 10:25:54 PM ******/
CREATE DATABASE [quiz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quiz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\quiz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'quiz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\quiz_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quiz]
GO
USE [quiz]
GO
/****** Object:  Table [dbo].[baithi]    Script Date: 12/4/2017 10:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baithi](
	[made] [int] NOT NULL,
	[ngaythi] [bigint] NULL,
	[socaudung] [int] NULL,
 CONSTRAINT [PK_baithi] PRIMARY KEY CLUSTERED 
(
	[made] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cauhoi]    Script Date: 12/4/2017 10:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cauhoi](
	[ma] [int] NOT NULL,
	[dapana] [nvarchar](max) NULL,
	[dapanb] [nvarchar](max) NULL,
	[dapanc] [nvarchar](max) NULL,
	[dapand] [nvarchar](max) NULL,
	[dapandung] [nvarchar](max) NULL,
	[mucdo] [int] NULL,
 CONSTRAINT [PK_cauhoi] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chitietde]    Script Date: 12/4/2017 10:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietde](
	[ma] [int] NOT NULL,
	[made] [int] NULL,
	[macauhoi] [int] NULL,
 CONSTRAINT [PK_chitietde] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dethi]    Script Date: 12/4/2017 10:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dethi](
	[ma] [int] NOT NULL,
	[ngaytao] [bigint] NULL,
	[mucdo] [int] NULL,
	[soluongcauhoi] [int] NULL,
 CONSTRAINT [PK_dethi] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phanhoi]    Script Date: 12/4/2017 10:25:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phanhoi](
	[ma] [int] NOT NULL,
	[phanhoi] [nvarchar](max) NULL,
	[traloi] [nvarchar](max) NULL,
	[mabaithi] [int] NULL,
 CONSTRAINT [PK_phanhoi] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[chitietde]  WITH CHECK ADD  CONSTRAINT [FK_chitietde_cauhoi] FOREIGN KEY([made])
REFERENCES [dbo].[cauhoi] ([ma])
GO
ALTER TABLE [dbo].[chitietde] CHECK CONSTRAINT [FK_chitietde_cauhoi]
GO
ALTER TABLE [dbo].[chitietde]  WITH CHECK ADD  CONSTRAINT [FK_chitietde_dethi] FOREIGN KEY([macauhoi])
REFERENCES [dbo].[dethi] ([ma])
GO
ALTER TABLE [dbo].[chitietde] CHECK CONSTRAINT [FK_chitietde_dethi]
GO
ALTER TABLE [dbo].[dethi]  WITH CHECK ADD  CONSTRAINT [FK_dethi_baithi] FOREIGN KEY([ma])
REFERENCES [dbo].[baithi] ([made])
GO
ALTER TABLE [dbo].[dethi] CHECK CONSTRAINT [FK_dethi_baithi]
GO
USE [master]
GO
